services:
  greener:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      GREENER_DATABASE_URL: postgres://postgres:qwerty@db:5432/postgres?sslmode=disable
      GREENER_AUTH_SECRET: abcdefg1234567
    depends_on:
      db:
        condition: service_healthy

  db:
    image: postgres:18
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: qwerty
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 2s
      timeout: 5s
      retries: 5

volumes:
  pgdata:
