<div class="text-sm text-base-content/60 mb-2">
    Showing {{.LoadedCount}} out of {{.TotalRecords}} items
</div>
<div class="overflow-x-auto">
    <table class="table table-zebra table-xs w-full">
        <thead>
            <tr>
                <th class="w-20">Status</th>
                <th>Group</th>
            </tr>
        </thead>
        <tbody>
            {{range .Groups}}
            <tr>
                <td>
                    {{if eq .Status "pass"}}
                    <span data-icon="check-circle" data-icon-class="h-6 w-6 text-success"></span>
                    {{else if or (eq .Status "fail") (eq .Status "error")}}
                    <span data-icon="x-circle" data-icon-class="h-6 w-6 text-error"></span>
                    {{else if eq .Status "skip"}}
                    <span data-icon="help-circle" data-icon-class="h-6 w-6 text-warning"></span>
                    {{end}}
                </td>
                <td>{{.Group}}</td>
            </tr>
            {{end}}
        </tbody>
    </table>
</div>
