@using GreenerBlazor.Helpers
@inherits LayoutComponentBase
@inject IConfiguration Config

<FluentLayout>
    <FluentHeader>
        Greener
        <FluentSpacer/>
        <AuthorizeView>
            <Authorized>
                <LoginDisplay/>
            </Authorized>
        </AuthorizeView>
    </FluentHeader>
    <FluentStack Class="main" Orientation="Orientation.Horizontal" Width="100%">
        <AuthorizeView>
            <Authorized>
                <NavMenu/>
            </Authorized>
        </AuthorizeView>
        <FluentBodyContent Class="body-content">
            <ErrorBoundary>
                <ChildContent>
                    <div class="content">
                        @Body
                    </div>
                </ChildContent>
                <ErrorContent Context="ex">
                    <div class="blazor-error-boundary">@ex.Message</div>
                </ErrorContent>
            </ErrorBoundary>
        </FluentBodyContent>
        <FluentMenuProvider/>
        <FluentDialogProvider/>
    </FluentStack>
    <FluentFooter>
        <a href="https://greener.cephei8.dev" target="_blank">Documentation</a>
        <FluentSpacer/>
    </FluentFooter>
</FluentLayout>
