<div class="navmenu">
    <input type="checkbox" title="Menu expand/collapse toggle" id="navmenu-toggle" class="navmenu-icon"/>
    <label for="navmenu-toggle" class="navmenu-icon">
        <FluentIcon Value="@(new Icons.Regular.Size24.Navigation())" Color="Color.Fill"/>
    </label>
    <nav class="sitenav" aria-labelledby="main-menu">
        <FluentNavMenu Id="main-menu"
                       Width="200"
                       Collapsible="true"
                       Title="Navigation menu"
                       @bind-Expanded="_expanded"
                       CustomToggle="true">
            <FluentNavLink Href="/"
                           Match="NavLinkMatch.All"
                           Icon="@(new Icons.Regular.Size24.Home())"
                           IconColor="Color.Accent">
                Workspace
            </FluentNavLink>
            <FluentNavLink Href="/apikeys"
                           Match="NavLinkMatch.All"
                           Icon="@(new Icons.Regular.Size24.Key())"
                           IconColor="Color.Accent">
                API Keys
            </FluentNavLink>
            <FluentNavLink Href="/account"
                           Match="NavLinkMatch.All"
                           Icon="@(new Icons.Regular.Size24.Person())"
                           IconColor="Color.Accent">
                Account
            </FluentNavLink>
        </FluentNavMenu>
    </nav>
</div>

@code {
    private bool _expanded = true;
}